*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main{
    background-color: black;
}



/* -----------------header styling start here---------------- */







/* --------------------hero section styling------------------------- */

