.container {
    max-width: 1140px;
    margin: auto;
    padding: 90px 15px;
    color: white;
}
.product-image img {
    width: 500px;
    height: 500px;
    border-radius: 8px;
}
.product-details {
    margin-top: 2rem;
}


.addtocartbtn{
    padding: 1rem 2rem;
    background-color: rgb(201, 204, 49);
    color: rgb(3, 3, 3);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}